[Unit]
Description=Ludusavi Backup Service
After=network.target

[Service]
Type=oneshot
ExecStart=/home/pit/Proyectos/ludusavi_service/run_ludusavi_backup.sh
Environment=XDG_RUNTIME_DIR=/run/user/1000
User=pit

[Install]
WantedBy=multi-user.target
